<section class="donation">
    <div class="donation-poppy"></div>
    <div class="donation-context">
        <h3 class="donation-context-header">You can also make a donation</h3>
        <span class="donation-context-bank">Name of the bank / Type of bank account</span>
        <div class="donation-context-req">
            <img src="../../asset/credit-card.png" alt="credit-card">
            <span>8380 2880 8028 8791 7435</span>
        </div>
        <p>Legal information and lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Maecenas a ipsum at libero sagittis dignissim sed ac diam. 
            Praesent ultrices maximus tortor et vulputate. 
            Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
    </div>
</section>