.card{
    width: 25%;
    margin: 0 0 0 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
    background-color: $color-light-s;
    img{
        width: 99%;
    }
   .wrapper-btn{
    width: 100%;
    margin: 0 0 7%;
    .btn-link{
        @include georgia;
        color:$color-dark-3-xl;
        line-height: 130%; 
        letter-spacing: 0.05em;
        font-size: 110%;
        
    }
   }
   &:hover{
    background-color: $color-light-xl;
    .card-button{
        background-color: $color-primary-light;
        border:3px solid $color-primary-light ;
    }
   }
    &-name{
        @include georgia;
        color:$color-dark-l;
        font-size: 130%;
        letter-spacing: 0.04em;
        margin: 11% 0% 7%;
    }
    &-button{
        width: 50%;
        border-radius: 30px;
        padding: 5% 8.5%;
        margin: 3.5% auto;
        border:3px solid $color-primary;
    }
    
}
.card:first-of-type{
    margin:0 0 0 4.2%;;
}

@media screen and (max-width:768px){
    .card{
        width: 45%;
        margin:4% 0 0;
        img{
            width:105%;
        }
        &-name{
            margin:11% 0% 10%;
        }
        
      >.wrapper-btn{
        .card-button{
            width: 52%;
            margin: 1% 10% 3.5% 14%;
        }
      }
    }
    .card:first-of-type {
        margin: 4% 0 0 1%;
    }
    .card:last-of-type{
        display: none;
    }
}