footer{
    display: flex;
    background-image: url('../asset/noise_transparent@2x.png'),
    radial-gradient(237.50% 111.80% at 0% 0%, #5B483A 0%, #262425 100%);   ;
    padding: 2% 3% 4%;
    gap: 3% 9%;
   
    h3{
        margin:3% 5% -2% 1%;
        @include georgia;
        font-size: 221%;
        line-height: 130%;
        letter-spacing: 0.06em;
        color:$color-light-xl;
    }
    span{
        margin: 0 25% 0 0;
        @include georgia;
        font-size: 130%;
        line-height: 156%;
        letter-spacing: 0.03em;
        color:$color-primary;
    }
    
    
    .left{
        width:41%;
        display: flex;
        gap: 0% 7%;
        flex-wrap: wrap;
        align-items: center;
      
        span:last-of-type{
            margin: 0% 0 12% 0;
            line-height: 113%;
            letter-spacing: 0.04em;
        }
        img:last-of-type{
            margin: 0% 0 12% 0;   
        }
    }
    .right{
        width:41%;
        display: flex;
        gap: 11% 7%;
        flex-wrap: wrap;
        align-items: center;
       h3{
        margin:10% 5% 9% 1%;
       }
       img:last-of-type{
        margin:10% 0 18%;
     }
       span{
        width: 85%;
        margin:0;
        line-height: 115%;
        
       }
       span:last-of-type{
        margin: 10% 0 18% -1%;
        line-height: 113%;
        letter-spacing: 0.04em;
       }
      

    }
    .poppy{
        width:40%;
        background-image: url('../asset/footer-puppy.png');
        background-repeat: no-repeat;
        background-position: 95% 100%;
        background-size: contain;  
    }
}
@media only screen and (max-width:768px){
    footer{
        padding: 1% 8% 0;
        gap: 3% 5%;
        flex-wrap: wrap;
        justify-content: center;
        .left{
            width: 48%;
            margin: 2% 0 0;
            gap: 6% 7%;
            flex-wrap: wrap;
            align-items: center;
            align-content: space-around;
            h3{
                margin: 0% 2% -2% 0%;
            }
        }
        .right{
            width: 47%;
            h3{
                margin: 8% 5% 9% 0%;
            }
        }
        .poppy{
            height: 20.5em;
            width: 100%;
            background-position: 50% 100%;
        }
    }
  
}
@media screen and (max-width:320px) {
    footer{
        padding: 1% 0;
        flex-direction: column;
        align-items: center;
        .left{
            width: 85%;
            margin: 8% 3%;
            h3{
                margin: 1% 6% 15% 0%;
                font-size: 155%;
                text-align: center;
            }
            img:last-of-type{
                margin: 14% 0 0% 2%;
            }
            span:last-of-type{
                margin: 15% 0 0% 1%;
            }
        }
        .right{
            width: 100%;
            margin:  3%;
            gap:11% 6%;
            h3{
                margin: 1% 11% 12% 5%;
                font-size: 155%;
                text-align: center;
            }
            img:last-of-type{
                margin: 12% 0 0% 0%;    
            }
            span:last-of-type{
                margin: 12% 0 0% 0%;
            }
        }
        .poppy{
            height: 18.8em;
            width: 100%;
            background-position: 34% 98%;
            background-size: 81%;
        }
    }
}