.header{
    .nav{
      
        &-list{   
        &-item:nth-of-type(2){
            a{
                padding: 0 0 1px 0;
                color:$color-dark-3-xl;
                border-bottom: 2px solid $color-primary;
            }
        }   
        }
    }
}