.header{
    a{
        .logo{
           
            &-head{
                color: $color-primary;
            }
            &-text{
                color: $color-light-xl;                
            }
        }
       }
    .nav{       
        &-list{
            &-item{
                a{
                    padding: 0 0 3px 0;
                    color: $color-dark-s;
                    @include arial;
                    line-height: 160%;
                    font-size: 93%;
    
                }
            }
            &-item:first-of-type{   
                border-bottom: 2px solid $color-primary;      
                a{
                    padding: 0 0 1px 0;
                    color:$color-light-s;
                   
                }
            } 
            :hover{
                border-bottom: 2px solid $color-primary; 
                a{
                    padding: 0 0 1px 0;
                    color:$color-light-s;
                   
                }
            }       
        } 
         
    }
}

