.header{
    a{
        display: contents;
        .logo{
           
            &-head{
                color: $color-dark-3-xl;
            }
            &-text{
                color: $color-dark-3-xl;                
            }
        }
       }
    .nav{      
        &-list{  
            &-item{
                a{
                    padding: 0 0 3px 0;
                    color: $color-dark-l;
                    @include arial;
                    line-height: 160%;
                    font-size: 93%;
    
                }
            }      
            &-item:nth-of-type(2){
                border-bottom: 2px solid $color-primary;
            a{
                padding: 0 0 1px 0;
                color:$color-dark-3-xl;
               
            }
        } 
        :hover{
            border-bottom: 2px solid $color-primary;
            a{
                padding: 0 0 1px 0;
                color:$color-dark-3-xl;
                border-bottom: 2px solid $color-primary;
            }
        } 
      
        }
    }
}
@media screen and (max-width:767px) {
    .header{
        .nav{
            &-list{
                &-item{
                    a{
                        color: $color-dark-s;
                    }
                   
                }
                :hover{
                   a{
                    color:$color-light-s;
                    border-bottom: 2px solid $color-primary;
                   }
                }
                &-item:nth-of-type(2){
                a{
                    padding: 0 0 1px 0;
                    color:$color-light-s;
                   
                }
                }
        }
    }
}
}