
.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 25em;
    flex-shrink: 0;
   a{
    display: contents;
    .logo{
        width: 20%;
        margin: 0 0 0 3%;
        &-head{
            width: max-content;
            margin: 4% 0 0;
            @include georgia;
            font-size: 198%;
            font-style: normal;
            font-weight: 400;
            line-height: 163%;
            letter-spacing: 0.06em;
           
        }
        &-text{
            @include arial;
            font-size: 81%;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.1em;
            margin: 0 1% 0 3%;
           
            
        }
    }
   }
    .nav{
        width: 30rem;
        margin: 0 0 0 0.2%;
        z-index: 2;
        &-list{
            display: flex;
            width: 100%;
            padding: 0;
            justify-content: space-between;
            gap: 4%;
        &-item{
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            margin: 6% 0 3%;
          
        }
        &-item:last-of-type{
            margin: 6% 8% 3% 0;
           
        }

        &-link{
            list-style-type: none;
            text-decoration: none;
        }
        
        }
        &-burger{
            display:none;
        }
   
}
.fog{
    display: none;
    position: fixed;
    width: 100%;
    height: 178vh;
    z-index: 1;
    opacity: 0.5;
    background-color: #292929;
   
   
}
.see{
    display: block;
}

}
@media only screen and (max-width:1080px) and (min-width: 768px){
.header{
    padding: 2% 0%;
    gap:0;
  a{
    .logo{
        margin: 0 0 0 3.5%;
        width: 35%;
        
        &-head{
            margin: 0 0 2% 1%;
            font-size: 200%;
            line-height: 114%;
        }
    }
  }
    .nav{
        &-list{
            &-item{
                margin: 3% 0 ;
            }
            &-item:last-of-type{
                margin: 3% 7% 3% 0;
            }
        }
    }
}
}
@media only screen and (max-width:767px) {
  
  .header{
   a{
    .logo{
        margin: 8% 0 0 6%;
        width: 60%;
        &-text{
            margin: 0 0% 0 3%;
        }
        }
   }
    
    .nav{  
        .turn{
            transition: 2s;
            rotate: 0.25turn;
        }     
        .visible{
           right: 0%;
           transition: 2s;
           overflow-y: auto;
        }
        .hide{
            right:-94%;
            transition: 2s;
        }
        &-list{
            display: flex;
            position: fixed;
            flex-direction: column;
            align-items: center;
            width: 320px;
            height: 100vh;
            top: -5%;
            background-color: #292929;
            padding:7.5% 0% 2%;;
            font-size: 200%;
            letter-spacing: 0.03em;
            justify-content: center;
            gap:0;
           
            &-item{
                margin: 13% 0 1%;
            }
            :last-of-type{
                margin: 13% 8% 0;
            }
        }
        
        &-burger{
            transition: 2s;
            display: flex;
            width: 2em;
            height: 1.5em;
            z-index: 999;
            position: absolute;
            right: 6%;
            top: 7%;
            flex-direction: column;
            justify-content: space-between;
            span{
                border: 1px solid $color-primary;
                margin-bottom: 5%;
            }
        }

    }
  }
}