.help{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.3% 7% 5%;
    background: $color-light-xl ;
    
    &-header{
        width: 31%;
        text-align: center;
        @include georgia;
        line-height: 130%;
        letter-spacing: 0.05em;
        font-size: 222%;
    }
    &-types{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 2.4em;
        row-gap: 1.5em;
        padding: 0.5% 0 2% 0;
    
    figure{
        display: flex;
        flex-direction: column;
        align-items: center;

        figcaption{
            margin: 1.6em 0 0 -0.1em;
            text-align: center;
            @include georgia;
            line-height: 115%;
            letter-spacing: 0.1em;
            font-size: 117%;
        }
    }
      
        
    
}
}
@media only screen and (max-width: 768px){
.help{
    padding: 6.3% 8% 9%;
    &-header{
        width: 52%;
    }
    &-types{
        column-gap: 3.3em;
        row-gap: 1.1em;
    figure{
            margin: 3% 0;
            width: 11em;
        }
        }
    }
}
@media screen and (max-width:320px) {
    .help{
        padding: 1.3% 7% 6.5%;
        &-header{
            width: 98%;
            font-size: 156%;
            margin: 14% 0;
            letter-spacing: 0.06em;
        
        }
        &-types{           
            flex-direction: row;
            align-content: space-around;
            column-gap: 2.2em;
            row-gap: 1.1em;
            justify-content: flex-start;
            figure{
                width: 7.5em;
                margin: 0;
            img{
                width: 42%;
            }
            figcaption{
                font-size: 90%;
                letter-spacing: 0.06em;
                line-height: 77%;
                margin: 19% 0% 13% -1%;
            }
        }
        }
    }
}
