.help{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.3% 7% 5%;
    background: $color-light-xl ;
    
    &-header{
        width: 31%;
        text-align: center;
        @include georgia;
        line-height: 130%;
        letter-spacing: 0.05em;
        font-size: 222%;
    }
    &-types{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 2.4em;
        row-gap: 1.5em;
        padding: 0.5% 0 2% 0;
    
    figure{
        display: flex;
        flex-direction: column;
        align-items: center;

        figcaption{
            margin: 1.6em 0 0 -0.1em;
            text-align: center;
            @include georgia;
            line-height: 115%;
            letter-spacing: 0.1em;
            font-size: 117%;
        }
    }
      
        
    
}
}
@media only screen and (max-width: 768px){
.help{
    padding: 6.3% 8% 5%;
    &-header{
        width: 52%;
    }
    &-types{
        column-gap: 3.3em;
        row-gap: 1.1em;
    figure{
            margin: 3% 0;
            width: 11em;
        }
        }
    }
}
