header{
    width: 100%;
}
.not-only{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // background: url('../asset/start-screen-gradient-background.jpg'), no-repeat;
    // background-size: cover;
    background-image: url('../asset/noise_transparent@2x.png'),
    radial-gradient(237.50% 111.80% at 0% 0%, #5B483A 0%, #262425 100%);   ;
    &-wrapper{
        width: 39%;
        margin: 16% 0 19% 2%;
    }
    &-header{
       @include georgia;
       font-size: 270%;
       line-height: 136%;
       color: #FFF;
       letter-spacing: 0.01em;
       margin: 6.5% 22% 7.5% 3%;
       
    }
    &-text{
        width: 95%;
        margin: 2% 0% 7.5% 3%;
        @include arial;
        font-size: 94%;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
        letter-spacing: 0.001em;
        color:$color-dark-s;
    }
}
.not-only-puppy{
    width: 58%;
    background: url(http://localhost:9000/assets/start-screen-puppy.png) no-repeat 7% 100%;
}