header{
    width: 100%;
}
.not-only{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // background: url('../asset/start-screen-gradient-background.jpg'), no-repeat;
    // background-size: cover;
    background-image: url('../asset/noise_transparent@2x.png'),
    radial-gradient(237.50% 111.80% at 0% 0%, #5B483A 0%, #262425 100%);   ;
    &-wrapper{
        width: 39%;
        margin: 16% 0 19% 2%;
    }
    &-header{
       @include georgia;
       font-size: 270%;
       line-height: 136%;
       color: #FFF;
       letter-spacing: 0.01em;
       margin: 6.5% 22% 7.5% 3%;
       
    }
    &-text{
        width: 95%;
        margin: 2% 0% 7.5% 3%;
        @include arial;
        font-size: 94%;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
        letter-spacing: 0.001em;
        color:$color-dark-s;
    }
}
.not-only-puppy{
    width: 58%;
    background: url(http://localhost:9000/assets/start-screen-puppy.png) no-repeat 7% 100%;
}

@media screen and (max-width:768px) {
    .not-only{
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        &-wrapper{
            width: 62%;
            margin: 0% 0 10.3% 0%;
        }
        &-header{
            margin: 6.5% 22% 7.5% 2%;
        }
        &-text{
            width: 97%;
            margin: 0% 0% 7.5% 2%;
            line-height: 172%;
        }
        .btn-cont{
            display: flex;
            justify-content: center;
            .button-primary{
                padding: 3% 0%;
                margin: 1%;
                width: 43%;
        
            }
        }
       &-puppy{
        height: 38.5em;
        width: 85%;
        background: url(http://localhost:9000/assets/start-screen-puppy.png) no-repeat 131% 91%;
        background-size: 87%;
        
       }
    }
}
@media screen and (max-width:320px){
    .not-only{
        &-wrapper{
            width: 93%;
        }
        &-header{
            margin: 18.2% 8% 14.5% 8%;
            font-size: 166%;
            line-height: 121%;
            letter-spacing: 0.03em;
            text-align: center;
        }
        &-text{
            width: 100%;
            margin: 0% 0% 14% 0%;
            line-height: 158%;
            text-align: center;
            letter-spacing: 0.002em;
        }
        .btn-cont{
            .button-primary{
                padding: 5% 0%;
                margin: 0;
                width: 70%;
            }
        }
        &-puppy{
            height: 21.5em;
            width: 85%;
            background-position: 228% 100%;
            background-size: 96%;
        }
    }
   
}