
body{
    margin: 0;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.button{
    display: flex;
    width: 41%;
    padding: 15px 45px;
    align-items: center;
    flex-direction: column;
    a{
        text-decoration: none;
        color: $color-dark-3-xl ;
    }
   &-primary{
    background-color: $color-primary;
    // border: 1px solid $color-primary;
    border-radius: 100px;
    padding: 3% 0%;
    margin: 8% 3% 0 3%;
    &-text{
        @include georgia;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; 
        letter-spacing: 0.06em;
    }
    &:hover{
        border-color: $color-primary-light;
        box-shadow: none;
        transform: none;
    }
 
}
}
.button:hover{
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    .container{
        width: 768px;
        
    }
    
}
@media only screen and (max-width: 320px){
    .container{
        width: 320px;
        
    }
    
    
}