$color-primary:#F1CDB3;
$color-light-s:#FAFAFA;
$color-light-xl:#FFF;
$color-dark-s:#CDCDCD;
$color-dark-3-xl:#292929;
$start-screen-gradient-background:#211F20;





@mixin georgia{
    src:url('../asset/resourse/fonts/Georgia.ttf');
    font-family: 'Noto Serif Georgian', serif;
    font-weight: 400;
    
}
@mixin arial{
    src:url('../asset/resourse/fonts/Arimo-Regular.ttf');
    font-family: 'Arimo', sans-serif;
    
    font-weight: 400;
}