$color-primary:#F1CDB3;
$color-light-s:#FAFAFA;
$color-light-l:#F6F6F6;
$color-light-xl:#FFF;
$color-dark-s:#CDCDCD;
$color-dark-l:#545454;
$color-dark-m:#B2B2B2;
$color-dark-xl:#4C4C4C;
$color-dark-3-xl:#292929;
$start-screen-gradient-background:#211F20;





@mixin georgia{
    font-family: 'Georgia', serif;
    src: url('../asset/resourse/fonts/Georgia.ttf');    
    font-weight: 400;
    
}
@mixin arial{
    font-family: 'Arial Th', sans-serif;
    src: url('../asset/resourse/fonts/ArialTh.ttf');        
    font-weight: 400;
}