<div class="header">
<a href="../../main.html">
    <div class="logo" >
        <h1 class="logo-head">Cozy House</h1>
        <span class="logo-text">Shelter for pets in Boston</span>
    </div>
</a>
    <div class="nav">
        <ul class="nav-list hide">
            <li class="nav-list-item"><a href="../../main.html" class="nav-list-link">About the shelter</a></li>
            <li class="nav-list-item"><a href="../../ourPets.html" class="nav-list-link">Our pets</a></li>
            <li class="nav-list-item"><a href="../../main.html#help" class="nav-list-link">Help the shelter </a></li>
            <li class="nav-list-item"><a href="#contacts" class="nav-list-link">Contacts</a></li>
        </ul>
        <div class="nav-burger">
           <span></span>
           <span></span>
           <span></span>
        </div>
    </div>
    <div class="fog"></div>
</div>