<footer>
    <div class="left">
        <h3>For questions and suggestions</h3>
        <img src="../../asset/icon-email.png" alt="email">
        <span>email@shelter.com</span>
        <img src="../../asset/icon-phone.png" alt="phone">
        <span>+13 674 567 75 54</span>
    </div>
    <div class="right">
        <h3>We are waiting for your visit</h3>
        <img src="../../asset/icon-marker.png" alt="marker">
        <span>1 Central Street, Boston (entrance from the store)</span>
        <img src="../../asset/icon-marker.png" alt="marker">
        <span>18 South Park, London </span>
    </div>
    <div class="poppy"></div>
</footer>